{% extends "base.html" %}

{% block head %}
<title>Edit Profile</title>

<!-- Custom styles for this template -->
<link href="/static/css/starter-template.css" rel="stylesheet">
{% endblock %}

{% block login_nav %}
<li><a href="/">Home</a></li>
<li><a href="/profile/">Profile</a></li>
<li><a href="{{ logout_url }}">Logout</a></li>
{% endblock %}

{% block container %}

<div class="page-header">
  <h1>
    Edit Basic Profile
  </h1>
</div>

{% if form.errors %}
<div class="alert alert-danger" role="alert">
  Oops! There were some issues with the data you submitted:
  <ul>
    {% for f in form %}
      {% if f.errors %}
        {% for err in f.errors %}
          <li><strong>{{ f.label.text }}</strong>: {{ err | e }}</li>
        {% endfor %}
      {% endif %}
    {% endfor %}
  </ul>
</div>
{% endif %}

{% if update_success %}
<div class="alert alert-success" role="alert">
  Profile successfully updated! <a href="/profile/">Return to Profile</a>
</div>
{% endif %}


<p>Tell us a little about yourself! You'll have to fill this out before you can start!</p>
<form class="form-horizontal" action="/profile/edit/basic/" method="POST">
  {% for f in form %}
  <div class="form-group {% if f.errors %}has-error{% endif %}">
    {{ f.label(class="col-sm-2 control-label") }}
    <div class="col-sm-10">
      {% if f.type == "RadioField" %}
        {% for value, label, selected in f.iter_choices() %}
          <div class="radio">
            <label>
                <input {% if selected %}checked{% endif %} type="radio" name="{{ f.id }}" id="{{ f.id }}" value="{{ value }}">{{ label }}
            </label>
          </div>
        {% endfor %}
      {% else %}
      {{ f(class="form-control") }}
      {% endif %}
      <span id="helpBlock" class="help-block">
        {% if f.flags.required %}<span class="text-danger">Required</span>{% endif %}
        {{ f.description }}
      </span>
    </div>
  </div>
  {% endfor %}
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <a class="btn btn-default" href="/profile/" role="button">Cancel</a>
      <button type="submit" class="btn btn-success">Update</button>
    </div>
  </div>
</form>

{% endblock %}
